<!--https://material.angular.io/components/grid-list/overview-->
<!--https://material.io/design/components/image-lists.html-->
<!--https://tburleson-layouts-demos.firebaseapp.com/#/docs-->
<div class="spacer"></div>
<!-- WARNING: rowHeight, not rowheight -->
<mat-grid-list cols="3" rowHeight="3:2" gutterSize="0.4em">

  <mat-grid-tile>
    <img src="assets/photos/s7s.jpg" alt="facelift" class="fill-available-space" />
    <mat-grid-tile-footer>s7s</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <img src="assets/photos/s7s.jpg" alt="facelift" class="fill-available-space" />
    <mat-grid-tile-footer>s7s</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <img src="assets/photos/s7s.jpg" alt="facelift" class="fill-available-space" />
    <mat-grid-tile-footer>s7s</mat-grid-tile-footer>
  </mat-grid-tile>

</mat-grid-list>
