<div fxLayout="column" fxLayoutAlign="start left" class="mat-body-1">
  <div *ngIf="mockUsers && mockUsers.length > 0">
    <p>Mock users:</p>

    <table class="mat-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of mockUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.age}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
